In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("walmart_data/Walmart.csv")

In [27]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [23]:
df["unit_price"] = df["unit_price"].str.replace("$", "", regex=False).astype(float)

In [24]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [25]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
invoice_id,10051.0,5025.741220,2901.174372,1.00,2513.50,5026.00,7538.50,10000.00
unit_price,10020.0,50.630053,21.197783,10.08,32.00,51.00,69.00,99.96
quantity,10020.0,2.353493,1.602658,1.00,1.00,2.00,3.00,10.00
rating,10051.0,5.825659,1.763991,3.00,4.00,6.00,7.00,10.00
profit_margin,10051.0,0.393791,0.090669,0.18,0.33,0.33,0.48,0.57

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  float64
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 863.9+ KB

In [26]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [29]:
df.duplicated().sum()

np.int64(51)

In [30]:
df.drop_duplicates(inplace = True)
print(df.duplicated().sum())

0

In [32]:
df.dropna(inplace = True)
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [28]:
df["Total_price"] = df["unit_price"] * df["quantity"]
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [29]:
pip install --upgrade sqlalchemy

^C
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy in c:\users\rames\appdata\local\programs\python\python311\lib\site-packages (2.0.40)
Requirement already satisfied: greenlet>=1 in c:\users\rames\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rames\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.12.2)

In [30]:
from sqlalchemy import create_engine

In [31]:
import pymysql

In [36]:
##"mysql+pymysql://user:passworld@localhost:3306/db_name"
engine_sql = create_engine(
            "mysql+pymysql://root:3081@localhost:3306/walmart_project",
            pool_recycle=3600,
            echo=True,
        )
try:
    engine_sql
    print("connection sucessfull")
except:
    print("unable to connect")

connection sucessfull

In [37]:
df.to_sql(name = "walmart", con = engine_sql, if_exists = 'append', index = False)

2025-03-28 15:15:27,474 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-03-28 15:15:27,482 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-28 15:15:27,518 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-03-28 15:15:27,519 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-28 15:15:27,523 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-03-28 15:15:27,523 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-28 15:15:27,537 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-28 15:15:27,669 INFO sqlalchemy.engine.Engine DESCRIBE `walmart_project`.`walmart`
2025-03-28 15:15:27,672 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-03-28 15:15:27,749 INFO sqlalchemy.engine.Engine
CREATE TABLE walmart (
	invoice_id BIGINT,
	`Branch` TEXT,
	`City` TEXT,
	category TEXT,
	unit_price FLOAT(53),
	quantity FLOAT(53),
	date TEXT,
	time TEXT,
	payment_method TEXT,
	rating FLOAT(53),
	profit_margin FLOAT(53),
	`Total_price` FLOAT(53)
)


2025-03-28 15:15:27,749 INFO sqlalchemy.engine.Engine [no key 0.00160s] {}
2025-03-28 15:15:29,776 INFO sqlalchemy.engine.Engine INSERT INTO walmart (invoice_id, `Branch`, `City`, category, unit_price, quantity, date, time, payment_method, rating, profit_margin, `Total_price`) VALUES (%(invoice_id)s, %(Branch)s, %(City)s, %(category)s, %(unit_price)s, %(quantity)s, %(date)s, %(time)s, %(payment_method)s, %(rating)s, %(profit_margin)s, %(Total_price)s)
2025-03-28 15:15:29,776 INFO sqlalchemy.engine.Engine [generated in 1.72460s] [{'invoice_id': 1, 'Branch': 'WALM003', 'City': 'San Antonio', 'category': 'Health and beauty', 'unit_price': 74.69, 'quantity': 7.0, 'date': '05/01/19', 'time': '13:08:00', 'payment_method': 'Ewallet', 'rating': 9.1, 'profit_margin': 0.48, 'Total_price': 522.8299999999999}, {'invoice_id': 2, 'Branch': 'WALM048', 'City': 'Harlingen', 'category': 'Electronic accessories', 'unit_price': 15.28, 'quantity': 5.0, 'date': '08/03/19', 'time': '10:29:00', 'payment_method': 'Cash', 'rating': 9.6, 'profit_margin': 0.48, 'Total_price': 76.39999999999999}, {'invoice_id': 3, 'Branch': 'WALM067', 'City': 'Haltom City', 'category': 'Home and lifestyle', 'unit_price': 46.33, 'quantity': 7.0, 'date': '03/03/19', 'time': '13:23:00', 'payment_method': 'Credit card', 'rating': 7.4, 'profit_margin': 0.33, 'Total_price': 324.31}, {'invoice_id': 4, 'Branch': 'WALM064', 'City': 'Bedford', 'category': 'Health and beauty', 'unit_price': 58.22, 'quantity': 8.0, 'date': '27/01/19', 'time': '20:33:00', 'payment_method': 'Ewallet', 'rating': 8.4, 'profit_margin': 0.33, 'Total_price': 465.76}, {'invoice_id': 5, 'Branch': 'WALM013', 'City': 'Irving', 'category': 'Sports and travel', 'unit_price': 86.31, 'quantity': 7.0, 'date': '08/02/19', 'time': '10:37:00', 'payment_method': 'Ewallet', 'rating': 5.3, 'profit_margin': 0.48, 'Total_price': 604.1700000000001}, {'invoice_id': 6, 'Branch': 'WALM026', 'City': 'Denton', 'category': 'Electronic accessories', 'unit_price': 85.39, 'quantity': 7.0, 'date': '25/03/19', 'time': '18:30:00', 'payment_method': 'Ewallet', 'rating': 4.1, 'profit_margin': 0.48, 'Total_price': 597.73}, {'invoice_id': 7, 'Branch': 'WALM088', 'City': 'Cleburne', 'category': 'Electronic accessories', 'unit_price': 68.84, 'quantity': 6.0, 'date': '25/02/19', 'time': '14:36:00', 'payment_method': 'Ewallet', 'rating': 5.8, 'profit_margin': 0.33, 'Total_price': 413.04}, {'invoice_id': 8, 'Branch': 'WALM100', 'City': 'Canyon', 'category': 'Home and lifestyle', 'unit_price': 73.56, 'quantity': 10.0, 'date': '24/02/19', 'time': '11:38:00', 'payment_method': 'Ewallet', 'rating': 8.0, 'profit_margin': 0.18, 'Total_price': 735.6}  ... displaying 10 of 9969 total bound parameter sets ...  {'invoice_id': 9999, 'Branch': 'WALM032', 'City': 'Tyler', 'category': 'Home and lifestyle', 'unit_price': 79.0, 'quantity': 2.0, 'date': '25/02/21', 'time': '12:25:00', 'payment_method': 'Cash', 'rating': 7.0, 'profit_margin': 0.48, 'Total_price': 158.0}, {'invoice_id': 10000, 'Branch': 'WALM069', 'City': 'Rockwall', 'category': 'Fashion accessories', 'unit_price': 62.0, 'quantity': 3.0, 'date': '26/09/20', 'time': '9:48:00', 'payment_method': 'Cash', 'rating': 3.0, 'profit_margin': 0.33, 'Total_price': 186.0}]
2025-03-28 15:15:30,754 INFO sqlalchemy.engine.Engine COMMIT

9969

In [ ]:
engine = create_engine("postgresql+psycopg2://scott:tiger@localhost/test")